body{
    margin: 0;
    background-color: whitesmoke;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
#header{
    position: absolute;
    height: 64px;
    width: 100%;
    background: white;
    color: #212121;
    border-bottom: 1px solid #e0e0e0;
    transition: border-color 0.2s ease;
    display: -webkit-inline-box;
    box-shadow: 0 2px 5px rgba(136, 136, 136, 0.35);
}

#search-box{
    position: absolute;
    outline: none;
    top: 9px;
    left: 25.5%;
    padding: 0 20px;
    margin: auto;
    width: 45%;
    font-size: larger;
    max-width: 800px;
    min-width: 0;
    height: 46px;
    display: block;
    background-color: #f5f5f5;
    transition: all 0.2s ease;
    border-radius: 2px;
    overflow: hidden;
    z-index: 1;
    border: 0;
}

#search-box:focus{
    background-color: white;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

#content{
    position: relative;
    padding: 10px;
    top: 65px;
    width: 100%;
}

.card{
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 1px rgba(136, 136, 136, 0.35);
    background-color: white;
}

.search-item{
    height: 225px;
    width: 100%;
    padding: 10px 5px;
    display: inline;
}